<div class="content">

    <div class="content-header">
        <ul>
            <li>
                <h1>Overview</h1>

            </li>
        </ul>
        <ul>
            <li>
                <p>
                    This is the list of all devices that we are able to repair.
                </p>
            </li>
        </ul>
    </div>
    <div *ngIf="!devices" class="middle">
        <p class="middle">No devices are available at the moment!</p>
    </div>
    <div class="devices">
        <ul>
            <li *ngFor="let device of devices">
                <app-device-tile [device]="device"></app-device-tile>
            </li>
        </ul>
        <!-- row-container -->
    </div>
</div>