<div class="content">
    <app-admin-header></app-admin-header>

    <div class="main">
        <div>
            <ul>
                <li class='main-form'>

                    <div class='form'>
                        <label>Service Name *</label>
                        <input type="text" />
                        <label class="field_name">Service Description *</label>
                        <textarea></textarea>
                        <label>Image *</label>
                        <input type="file" />
                        <div class='middle'>
                            <button class="form-button" type="submit" value="Submit">Submit</button>
                        </div>
                    </div>


                </li>
            </ul>
        </div>
        <!-- row-container -->
    </div>
</div>