.admin-menu {
    background-color: white;
    border-style: solid;
    line-height: 40px;
    position: relative;
    font-family: Droid Sans, sans-serif;
    border: none;
    align-items: center;
    display: flex;
}

.admin-menu ul {
    padding: 0px;
    display: inline-block;
    display: flex;
    margin: auto;
}

.admin-menu ul li {
    padding: 0 1.2125em;
    font-size: 0.9vw;
    text-decoration: none;
    color: black;
    display: flex;
}

.admin-menu ul li:hover {
    background-color: #000000;
    color: white;
}

.admin-menu ul li:hover a {
    color: white;
}

.admin-menu ul li a {
    color: black;
}

.form {
    line-height: 1.625em;
    display: block;
    font-family: Droid Sans, sans-serif;
    font-size: 1.1vw;
}

.form label {
    display: block;
    line-height: 1.625em;
}

.form input {
    box-shadow: 0px 0px 0px 1px grey inset;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.1);
    border-color: #000000;
    width: 100%;
    border-radius: 3px;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    box-sizing: content-box;
}

.form select {
    box-shadow: 0px 0px 0px 1px grey inset;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.1);
    border-color: #000000;
    width: 100%;
    border-radius: 3px;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    box-sizing: content-box;
}

.form textarea {
    box-shadow: 0px 0px 0px 1px grey inset;
    height: 100px;
    text-indent: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.1);
    border-color: #000000;
    width: 100%;
    border-radius: 3px;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    box-sizing: content-box;
}

.form-button {
    background-color: #FFFFFF;
    fill: #FFFFFF;
    border-color: #C6C6C6;
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    line-height: 1 !important;
    border-width: 1px;
    border-radius: 3px;
    font-family: Droid Sans, sans-serif;
}

.main-form {
    padding: 3% 15% 3% 15%;
    background-color: gray;
    background: rgba(0, 0, 0, 0.1);
    text-align: left;
}

.form-services {
    width: 100%;
}

.form-services select {
    width: 55%;
}

.form-services input {
    margin-left: 2%;
    width: 20%;
}

.form-services div {
    display: flex;
    padding-top: 10px;
}

.form-services-button {
    background-color: #FFFFFF;
    fill: #FFFFFF;
    border-color: #C6C6C6;
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    line-height: 1 !important;
    border-width: 1px;
    border-radius: 3px;
    font-family: Droid Sans, sans-serif;
    margin-left: auto;
    margin-bottom: 10px;
    width: 18%;
}

.main {
    font-family: Droid Sans, sans-serif;
    margin: 0 20% 0 20%;
    padding-bottom: 3%;
    padding-top: 1.5%;
}

.main ul {
    padding: 0px;
}

.main h1 {
    font-family: Carrois Gothic SC;
    font-weight: 300;
    margin: 0;
    text-align: center;
}

.main p {
    line-height: 1.625em;
    text-align: center;
}

.main-form {
    padding: 3% 15% 3% 15%;
    background-color: gray;
    background: rgba(0, 0, 0, 0.1);
    text-align: left;
}