<div class="footer">
    <div class='appointment'>
        <div>
            <ul>
                <li>
                    <div>
                        <div class='middle'>
                            <h3>
                                <a routerLink="/repair-request">  Give your phone a new life. Make a request now!</a>
                            </h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- row-container -->
    </div>
    <div class='info'>
        <div>
            <ul>
                <li>
                    <div>
                        <h4>iPR - iPhone Repair</h4>
                        <div class="padding5"></div>
                        <p>
                            Because we truly care about our customers and their devices. </p>
                        <p>
                            This drives us to provide clean, robust repairs, professional soldering and fast turnarounds. When you send a phone to us for a connector replacement, we know your goal is a working device. If we see something that could affect your decision to repair
                            the connector, we will tell you rather than just replacing it and then sending it back.
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>Powered By:</h4>
                        <img src="/assets/img/softuni.png">
                        <img src="/assets/img/angular.png">
                        <img src="/assets/img/firebase.png">
                        <img src="/assets/img/vsc.png">
                    </div>
                </li>
            </ul>
        </div>
        <!-- row-container -->
    </div>
</div>