<div *ngIf="deviceDetails" class="content">
    <div class="content-header">
        <ul>
            <li>
                <h1>{{deviceDetails.name}}</h1>

            </li>
        </ul>
        <ul>
            <li>
                <p>
                    {{deviceDetails.shortDescription}}
                </p>
            </li>
        </ul>
    </div>

    <div class="details">
        <ul>
            <li>
                <img src="{{deviceDetails.imageUrl}}" alt=" " title=" " class="stretch " />
            </li>
            <li>
                <p>
                    {{deviceDetails.description}}
                </p>
            </li>
        </ul>
        <!-- nxs-row-container -->
    </div>

    <div *ngIf="!deviceDetails.linkedServices" class="middle">
        <p class="middle">No services are available at this point!</p>
    </div>

    <div class="content-repairs">
        <div>
            <ul>
                <li *ngFor="let service of deviceDetails.linkedServices">
                    <div class="services">
                        <img class="service-image" src="{{service.imageUrl}}" onerror="this.style.display='block'">
                        <div class="services-content">
                            <div>
                                <h5 class="service-title">{{service.name}}</h5>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>{{service.description}}</p>
                                <p class="price">{{service.price}} BGN</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- row-container -->
    </div>

    <div class=buttons>
        <div *ngIf="isAdmin" class='middle'>
            <button [routerLink]="['/devices/edit', deviceDetails.id]" class="form-button " type="submit " value="Submit ">Edit</button>
            <button (click)="deleteDeviceHandler(deviceDetails.id, deviceDetails.imageUrl)" class="form-button " type="submit " value="Submit ">Delete</button>
        </div>
    </div>
</div>