<div *ngIf="deviceDetails" class="content">
    <div class="content-header">
        <ul>
            <li>
                <h1>{{deviceDetails.name}}</h1>

            </li>
        </ul>
        <ul>
            <li>
                <p>
                    {{deviceDetails.shortDescription}}
                </p>
            </li>
        </ul>
    </div>

    <div class="details">
        <ul>
            <li>
                <img src="{{deviceDetails.imageUrl}}" alt=" " title=" " class="stretch " />
            </li>
            <li>
                <p>
                    {{deviceDetails.description}}
                </p>
            </li>
        </ul>
        <!-- nxs-row-container -->
    </div>

    <div *ngIf="!deviceDetails.linkedServices.length" class="middle">
        <p class="middle">No services are available at this point!</p>
    </div>

    <div *ngIf="deviceDetails.linkedServices.length && deviceDetails.linkedServices" class="content-repairs">
        <div>
            <ul>
                <li *ngFor="let service of deviceDetails.linkedServices">
                    <app-service-tile [service]="service"></app-service-tile>
                </li>
            </ul>
        </div>
        <!-- row-container -->
    </div>

    <div class=buttons>
        <div *ngIf="isAdmin" class='middle'>
            <button [routerLink]="['/devices/edit', deviceDetails.id]" class="form-button " type="submit " value="Submit ">Edit</button>
            <button (click)="deleteDeviceHandler(deviceDetails.id, deviceDetails.imageUrl)" class="form-button " type="submit " value="Submit ">Delete</button>
        </div>
    </div>
</div>