<div *ngIf="deviceDetails" class="content">
    <div class="content-header">
        <ul>
            <li>
                <h1>{{deviceDetails.name}}</h1>

            </li>
        </ul>
        <ul>
            <li>
                <p>
                    {{deviceDetails.shortDescription}}
                </p>
            </li>
        </ul>
    </div>

    <div class="details">
        <ul>
            <li>
                <img src="{{deviceDetails.imageUrl}}" alt=" " title=" " class="stretch " />
            </li>
            <li>
                <p>
                    {{deviceDetails.description}}
                </p>
            </li>
        </ul>
        <!-- nxs-row-container -->
    </div>

    <div class="content-repairs ">
        <div>
            <ul>
                <li>
                    <div class="services ">
                        <a class="service-image " target="_self " href="# "><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg "></a>
                        <div class="services-content ">
                            <div>
                                <a target="_self " href="# ">
                                    <h5 class="service-title ">Screen Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10 "></div>
                            <div class="service-description ">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services ">
                        <a class="service-image " target="_self " href="# "><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg "></a>
                        <div class="services-content ">
                            <div>
                                <a target="_self " href="# ">
                                    <h5 class="service-title ">Battery Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10 "></div>
                            <div class="service-description ">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services ">
                        <a class="service-image " target="_self " href="# "><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg "></a>
                        <div class="services-content ">
                            <div>
                                <a target="_self " href="# ">
                                    <h5 class="service-title ">Charging Dock Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10 "></div>
                            <div class="service-description ">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services ">
                        <a class="service-image " target="_self " href="# "><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg "></a>
                        <div class="services-content ">
                            <div>
                                <a target="_self " href="# ">
                                    <h5 class="service-title ">Phone Jack Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10 "></div>
                            <div class="service-description ">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services ">
                        <a class="service-image " target="_self " href="# "><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg "></a>
                        <div class="services-content ">
                            <div>
                                <a target="_self " href="# ">
                                    <h5 class="service-title ">Camera Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10 "></div>
                            <div class="service-description ">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services ">
                        <a class="service-image " target="_self " href="# "><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg "></a>
                        <div class="services-content ">
                            <div>
                                <a target="_self " href="# ">
                                    <h5 class="service-title ">Frame Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10 "></div>
                            <div class="service-description ">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services ">
                        <a class="service-image " target="_self " href="# "><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg "></a>
                        <div class="services-content ">
                            <div>
                                <a target="_self " href="# ">
                                    <h5 class="service-title ">Back Glass Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10 "></div>
                            <div class="service-description ">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services ">
                        <a class="service-image " target="_self " href="# "><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg "></a>
                        <div class="services-content ">
                            <div>
                                <a target="_self " href="# ">
                                    <h5 class="service-title ">Power Button Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10 "></div>
                            <div class="service-description ">
                                <p><b>45 BGN</b></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- row-container -->
    </div>
    <div class=buttons>
        <div *ngIf="isAdmin" class='middle'>
            <button [routerLink]="['/devices/edit', deviceDetails.id]" class="form-button " type="submit " value="Submit ">Edit</button>
            <button (click)="deleteDeviceHandler(deviceDetails.id)" class="form-button " type="submit " value="Submit ">Delete</button>
        </div>
    </div>
</div>