<div class="content">
    <div class="content-header">
        <ul>
            <li>
                <h1>Edit Service</h1>

            </li>
        </ul>
        <ul>
            <li>
                <p>
                    Please fill in the edit form!
                </p>
            </li>
        </ul>
    </div>

    <div class="main">
        <div>
            <ul>
                <form #serviceF="ngForm" (ngSubmit)="editServiceHandler(serviceF.value)">
                    <li class='main-form'>

                        <div class='form'>
                            <label for="name">Service Name *</label>
                            <input #serviceName="ngModel" [class.input-error]="serviceName.touched && !!serviceName.errors" type="name" name="name" id="name" [(ngModel)]="serviceDetails.name" required minlength="5" />
                            <p *ngIf="serviceName.touched && serviceName.errors?.required"> Service name is required! </p>
                            <p *ngIf="serviceName.touched && serviceName.errors?.minlength"> Service name should be at least 5 characters! </p>

                            <label for="description" class="field_name">Service Description *</label>
                            <textarea #serviceDescription="ngModel" [class.input-error]="serviceDescription.touched && !!serviceDescription.errors" type="description" name="description" id="description" [(ngModel)]="serviceDetails.description" required maxlength="1000"></textarea>
                            <p *ngIf="serviceDescription.touched && serviceDescription.errors?.required"> Service description is required! </p>
                            <p *ngIf="serviceDescription.touched && serviceDescription.errors?.maxlength"> Service description is too long! </p>

                            <label>Image</label>
                            <div *ngIf="serviceDetails.imageUrl">
                                <div class="middle">
                                    <button class="form-button" type="submit" value="Submit" (click)="deleteImage()">Delete Image</button>
                                </div>
                                <div class="margin-bottom10"></div>
                                <div class="middle">
                                    <img src="{{serviceDetails.imageUrl}}" />
                                </div>
                            </div>

                            <div *ngIf="!serviceDetails.imageUrl">
                                <input type="file" id="file" #devicePhoto (change)="onFileSelected($event)" name="image" autocomplete="off" />
                            </div>
                            <label class="middle error">{{errorMessage}}</label>
                            <label class="middle success">{{successMessage}}</label>
                            <div class='middle'>
                                <button class="form-button" type="submit" value="Submit">Submit Changes</button>
                            </div>
                        </div>
                    </li>
                </form>
            </ul>
        </div>

    </div>
</div>