<div class="content">
    <div class="content-header">
        <ul>
            <li>
                <h1>Edit Device</h1>

            </li>
        </ul>
        <ul>
            <li>
                <p>
                    Please fill in the edit form!
                </p>
            </li>
        </ul>
    </div>

    <div class="main">
        <div>
            <ul>
                <form #deviceF="ngForm" (ngSubmit)="editDeviceHandler(deviceF.value)">
                    <li class='main-form'>

                        <div class='form'>
                            <label>Device Name *</label>
                            <input type="text" />
                            <label class="field_name">Device Short Description *</label>
                            <textarea></textarea>
                            <label class="field_name">Device Description *</label>
                            <textarea></textarea>
                            <label>Image *</label>
                            <input type="file" />
                            <div class="form-services">

                                <label>Services*</label>
                                <div>
                                    <select>

                                                        <option value="- select a service -">- select a service -</option>
                                                                <option value="Screen replacement">Screen replacement</option>
                                                                <option value="Battery replacement">Battery replacement</option>
                                                                <option value="Charging dock replacement">Charging dock replacement</option>
                                                                <option value="Headphone jack replacement">Headphone jack replacement</option>
                                                                <option value="Camera replacement">Camera replacement</option>
                                                                <option value="Frame replacement">Frame replacement</option>
                                                                <option value="Back glass replacement">Back glass replacement</option>
                                                                <option value="Power button replacement">Power button replacement</option>
                                                    </select>
                                    <input type="text" value="" placeholder="Price" /> <button class="form-services-button" type="submit" value="Submit">Remove</button>
                                </div>
                                <div>
                                    <select>

                                                        <option value="- select a service -">- select a service -</option>
                                                                <option value="Screen replacement">Screen replacement</option>
                                                                <option value="Battery replacement">Battery replacement</option>
                                                                <option value="Charging dock replacement">Charging dock replacement</option>
                                                                <option value="Headphone jack replacement">Headphone jack replacement</option>
                                                                <option value="Camera replacement">Camera replacement</option>
                                                                <option value="Frame replacement">Frame replacement</option>
                                                                <option value="Back glass replacement">Back glass replacement</option>
                                                                <option value="Power button replacement">Power button replacement</option>
                                                    </select>
                                    <input type="text" value="" placeholder="Price" /> <button class="form-services-button" type="submit" value="Submit">Remove</button>
                                </div>
                                <div>
                                    <select>

                                                        <option value="- select a service -">- select a service -</option>
                                                                <option value="Screen replacement">Screen replacement</option>
                                                                <option value="Battery replacement">Battery replacement</option>
                                                                <option value="Charging dock replacement">Charging dock replacement</option>
                                                                <option value="Headphone jack replacement">Headphone jack replacement</option>
                                                                <option value="Camera replacement">Camera replacement</option>
                                                                <option value="Frame replacement">Frame replacement</option>
                                                                <option value="Back glass replacement">Back glass replacement</option>
                                                                <option value="Power button replacement">Power button replacement</option>
                                                    </select>
                                    <input type="text" value="" placeholder="Price" /> <button class="form-services-button" type="submit" value="Submit">Add</button>
                                </div>
                            </div>


                            <div class='middle'>
                                <button class="form-button" type="submit" value="Submit">Edit</button>
                            </div>
                        </div>


                    </li>
                </form>
            </ul>
        </div>
        <!-- row-container -->
    </div>
</div>