<div class="header">
    <div class="header-container">
        <div class='header-row'>
            <ul>
                <li>
                    <div class='logo-image'><img src="../../../assets/img/BrandLogo.png" /></div>
                </li>
                <li>
                    <div class='header-menu'>
                        <ul>
                            <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
                            <li routerLinkActive="active"><a routerLink="/devices">Devices</a></li>
                            <li routerLinkActive="active"><a routerLink="/services">Services</a></li>
                            <li *ngIf="isLogged && isAdmin" routerLinkActive="active"><a routerLink="/admin">Admin</a></li>
                            <li *ngIf="isLogged" routerLinkActive="active"><a routerLink="/user/profile">Profile</a></li>
                            <li *ngIf="!isLogged" routerLinkActive="active"><a routerLink="/user/login">Login</a></li>
                            <li *ngIf="!isLogged" routerLinkActive="active"><a routerLink="/user/register">Register</a></li>
                            <li *ngIf="isLogged" routerLinkActive="active"><a (click)="logoutHandler()">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>