<div class="content-header">
    <ul>
        <li>
            <h1>Admin</h1>

        </li>
    </ul>
    <ul>
        <li>
            <p>
                In the admin page you are able to add devices, services, edit user previleges and observe all repair reqeusts.
            </p>
        </li>
    </ul>
</div>

<div class='admin-menu'>
    <ul>
        <li routerLinkActive="active"><a routerLink="/admin/add-service">Add Service</a></li>
        <li routerLinkActive="active"><a routerLink="/admin/add-device">Add Device</a></li>
        <li routerLinkActive="active"><a routerLink="/admin/edit-users">Edit User Previleges</a></li>
        <li routerLinkActive="active"><a routerLink="/admin/repair-requests">Repair Requests</a></li>
    </ul>
</div>