<div class="content-header">
    <ul>
        <li>
            <h1>Admin</h1>

        </li>
    </ul>
    <ul>
        <li>
            <p>
                Morbi nibh dolor, pretium id enim sit amet, sollicitudin egestas libero. Praesent tempus nisl sit amet neque congue, quis sollicitudin tortor imperdiet. Pellentesque vestibulum nisl vel vulputate posuere. Quisque porta a augue sit amet ultrices.
            </p>
        </li>
    </ul>
</div>

<div class='admin-menu'>
    <ul>
        <li routerLinkActive="active"><a routerLink="/admin/add-service">Add Service</a></li>
        <li routerLinkActive="active"><a routerLink="/admin/add-device">Add Device</a></li>
        <li routerLinkActive="active"><a routerLink="/admin/edit-users">Edit User Previleges</a></li>
        <li routerLinkActive="active"><a routerLink="/admin/repair-requests">Repair Requests</a></li>
    </ul>
</div>