<div class="content">
    <div class="content-header">
        <ul>
            <li>
                <h1>Overview</h1>

            </li>
        </ul>
        <ul>
            <li>
                <p>
                    Morbi nibh dolor, pretium id enim sit amet, sollicitudin egestas libero. Praesent tempus nisl sit amet neque congue, quis sollicitudin tortor imperdiet. Pellentesque vestibulum nisl vel vulputate posuere. Quisque porta a augue sit amet ultrices.
                </p>
            </li>
        </ul>
    </div>

    <div class="content-repairs">
        <div>
            <ul>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Screen Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class=buttons>
                                <div class='middle'>
                                    <button class="form-button" type="submit" value="Submit">Edit</button>
                                    <button class="form-button" type="submit" value="Submit">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Battery Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class=buttons>
                                <div class='middle'>
                                    <button class="form-button" type="submit" value="Submit">Edit</button>
                                    <button class="form-button" type="submit" value="Submit">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Charging Dock Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class=buttons>
                                <div class='middle'>
                                    <button class="form-button" type="submit" value="Submit">Edit</button>
                                    <button class="form-button" type="submit" value="Submit">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Phone Jack Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class=buttons>
                                <div class='middle'>
                                    <button class="form-button" type="submit" value="Submit">Edit</button>
                                    <button class="form-button" type="submit" value="Submit">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Camera Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class=buttons>
                                <div class='middle'>
                                    <button class="form-button" type="submit" value="Submit">Edit</button>
                                    <button class="form-button" type="submit" value="Submit">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Frame Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class=buttons>
                                <div class='middle'>
                                    <button class="form-button" type="submit" value="Submit">Edit</button>
                                    <button class="form-button" type="submit" value="Submit">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Back Glass Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class=buttons>
                                <div class='middle'>
                                    <button class="form-button" type="submit" value="Submit">Edit</button>
                                    <button class="form-button" type="submit" value="Submit">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Power Button Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class=buttons>
                                <div class='middle'>
                                    <button class="form-button" type="submit" value="Submit">Edit</button>
                                    <button class="form-button" type="submit" value="Submit">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- row-container -->
    </div>

</div>