<div class="content">

    <app-admin-header></app-admin-header>

    <div class="main">
        <div>
            <ul>
                <li class='main-form'>
                    <div class='form'>
                        <div class="form-services">
                            <label>Users:</label>
                            <div *ngFor="let user of users">
                                {{user.data.email}}
                                <button *ngIf="user.data.isAdmin" [disabled]="user.data.email === currentUser.email" class="form-services-button" (click)="removeAdminHandler( user.id, user.data.email )" type="button" value="Submit">Remove</button>
                                <button *ngIf="!user.data.isAdmin" [disabled]="user.data.email === currentUser.email" class="form-services-button" (click)="addAdminHandler( user.id, user.data.email )" type="button" value="Submit">Add</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- row-container -->
    </div>
</div>