<div class="content">

    <app-admin-header></app-admin-header>

    <div class="main">
        <div>
            <ul>
                <li class='main-form'>

                    <div class='form'>

                        <div class="form-services">

                            <label>Users:</label>
                            <div>
                                User @ User.com <button class="form-services-button" type="submit" value="Submit">Add</button>
                            </div>
                            <div>
                                User @ User.com <button class="form-services-button" type="submit" value="Submit">Remove</button>
                            </div>
                            <div>
                                User @ User.com <button class="form-services-button" type="submit" value="Submit">Remove</button>
                            </div>
                        </div>
                    </div>


                </li>
            </ul>
        </div>
        <!-- row-container -->
    </div>
</div>