.main-form {
    padding: 3% 15% 3% 15%;
    background-color: gray;
    background: rgba(0, 0, 0, 0.1);
    text-align: left;
}

.form {
    line-height: 1.625em;
    display: block;
    font-family: Droid Sans, sans-serif;
    font-size: 1.1vw;
}

.form label {
    display: block;
    line-height: 1.625em;
}

.form input {
    box-shadow: 0px 0px 0px 1px grey inset;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.1);
    border-color: #000000;
    width: 100%;
    border-radius: 3px;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    box-sizing: content-box;
}

.form select {
    box-shadow: 0px 0px 0px 1px grey inset;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.1);
    border-color: #000000;
    width: 100%;
    border-radius: 3px;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    box-sizing: content-box;
}

.form textarea {
    box-shadow: 0px 0px 0px 1px grey inset;
    height: 100px;
    text-indent: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.1);
    border-color: #000000;
    width: 100%;
    border-radius: 3px;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    box-sizing: content-box;
}

.form-button {
    background-color: #FFFFFF;
    fill: #FFFFFF;
    border-color: #C6C6C6;
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    line-height: 1 !important;
    border-width: 1px;
    border-radius: 3px;
    font-family: Droid Sans, sans-serif;
}

.form-services {
    width: 100%;
}

.form-services select {
    width: 55%;
}

.form-services input {
    margin-left: 2%;
    width: 20%;
}

.form-services div {
    display: flex;
    padding-top: 10px;
}

.form-services-button {
    background-color: #FFFFFF;
    fill: #FFFFFF;
    border-color: #C6C6C6;
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    line-height: 1 !important;
    border-width: 1px;
    border-radius: 3px;
    font-family: Droid Sans, sans-serif;
    margin-left: auto;
    margin-bottom: 10px;
    width: 18%;
}

.form p {
    color: rgb(240, 128, 128);
}

.form .input-error {
    background-color: rgba(240, 128, 128, 0.308);
}

.form img {
    width: 50%;
}

:disabled {
    background: rgba(0, 0, 0, 0.1);
}