<div class="content">
    <div class='popular'>
        <ul>
            <li>
                <div class="middle">
                    <div class="content-center">
                        <div class="width80">
                            <h1>Popular Repair Services</h1>
                            <div class="padding5"></div>
                            <h5 class='popular-description'>Those are the 8 most ofter repair services that we provide to our customers.</h5>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- row-container -->
    </div>
    <div *ngIf="!services" class="middle">
        <p class="middle">No services are available at the moment!</p>
    </div>
    <div class="content-repairs">
        <div>
            <ul>
                <li *ngFor="let service of services">
                    <app-service-tile [service]="service"></app-service-tile>
                </li>
            </ul>
        </div>
        <!-- row-container -->
    </div>

    <div class='popular'>
        <ul>
            <li>
                <div class="middle">
                    <div class="content-center">
                        <div class="width80">
                            <h1>Popular Repair Devices</h1>
                            <div class="padding5"></div>
                            <h5 class='popular-description'>Those are the 3 most ofter repair devices that we receive for service.</h5>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- row-container -->
    </div>
    <div *ngIf="!devices" class="middle">
        <p class="middle">No devices are available at the moment!</p>
    </div>
    <div class="devices">
        <ul>
            <li *ngFor="let device of devices">
                <app-device-tile [device]="device"></app-device-tile>
            </li>
        </ul>

        <!-- row-container -->
    </div>
    <div class="all-devices">
        <ul>
            <li>

                <div class="middle">
                    <div class="content-center">
                        <a target="_self" class="all-devices-button" routerLink="/devices">See all supported devices</a>
                    </div>
                </div>

            </li>
        </ul>
    </div>
    <!-- row-container -->
</div>