<div class="content">
    <div class='popular'>
        <ul>
            <li>
                <div class="middle">
                    <div class="content-center">
                        <div class="width80">
                            <h1>Popular Repair Services</h1>
                            <div class="padding5"></div>
                            <h5 class='popular-description'>Vivamus id fermentum ante. Aliquam dignissim lorem nec laoreet accumsan. Sed nec lectus non lorem tincidunt porttitor id a nunc. Mauris et sapien tincidunt, congue lacus in, pharetra dui. Suspendisse et sem at mi lobortis vulputate
                                sed vel dui. Vivamus pretium at sapien in dictum. Duis auctor tempor est et scelerisque. Proin faucibus laoreet consectetur.</h5>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- row-container -->
    </div>
    <div class="content-repairs">
        <div>
            <ul>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiEYDy3JMvUIlmH_CIaY-9at8LN9iBcHTeiw&usqp=CAU"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Screen Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Battery Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Charging Dock Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Phone Jack Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Camera Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Frame Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Back Glass Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="services">
                        <a class="service-image" target="_self" href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/62/62027.svg"></a>
                        <div class="services-content">
                            <div>
                                <a target="_self" href="#">
                                    <h5 class="service-title">Power Button Replacement</h5>
                                </a>
                            </div>
                            <div class="padding-bottom10"></div>
                            <div class="service-description">
                                <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- row-container -->
    </div>

    <div class='popular'>
        <ul>
            <li>
                <div class="middle">
                    <div class="content-center">
                        <div class="width80">
                            <h1>Popular Repair Devices</h1>
                            <div class="padding5"></div>
                            <h5 class='popular-description'>Vivamus id fermentum ante. Aliquam dignissim lorem nec laoreet accumsan. Sed nec lectus non lorem tincidunt porttitor id a nunc. Mauris et sapien tincidunt, congue lacus in, pharetra dui. Suspendisse et sem at mi lobortis vulputate
                                sed vel dui. Vivamus pretium at sapien in dictum. Duis auctor tempor est et scelerisque. Proin faucibus laoreet consectetur.</h5>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- row-container -->
    </div>

    <div class="devices">
        <ul>
            <li>
                <div>
                    <div>
                        <a href="#" target="_self">
                            <h3 class="middle">iPhone 4s</h3>
                        </a>
                        <div class="padding5"></div>
                        <a target="_self" href="#"><img src="http://nexus323.en.websitesexamples.com/wp-content/uploads/2014/11/iphone41.jpg?quality=100.3019031321330" alt="" title="" class="stretch" /></a>
                        <div class="padding5"></div>
                        <div class="devices-description">
                            <p>
                                Cras vel dolor magna. Nulla pellentesque, elit non gravida tempor, lacus nisl rutrum ipsum, eu convallis odio lorem non nunc. Nam dictum lorem in arcu tempus, vitae gravida metus tempor.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div>
                        <a href="#" target="_self">
                            <h3 class="middle">iPhone 5c</h3>
                        </a>
                        <div class="padding5"></div>
                        <a target="_self" href="#"><img src="http://nexus323.en.websitesexamples.com/wp-content/uploads/2014/11/iphone5c1.jpg?quality=100.3019031321330" alt="" title="" class="stretch" /></a>
                        <div class="padding5"></div>
                        <div class="devices-description">
                            <p>
                                Cras vel dolor magna. Nulla pellentesque, elit non gravida tempor, lacus nisl rutrum ipsum, eu convallis odio lorem non nunc. Nam dictum lorem in arcu tempus, vitae gravida metus tempor.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div>
                        <a href="#" target="_self">
                            <h3 class="middle">iPhone 5s</h3>
                        </a>
                        <div class="padding5"></div>
                        <a target="_self" href="#"><img src="http://nexus323.en.websitesexamples.com/wp-content/uploads/2014/11/iphone5s1.jpg?quality=100.3019031321330" alt="" title="" class="stretch" /></a>
                        <div class="padding5"></div>
                        <div class="devices-description">
                            <p>
                                Cras vel dolor magna. Nulla pellentesque, elit non gravida tempor, lacus nisl rutrum ipsum, eu convallis odio lorem non nunc. Nam dictum lorem in arcu tempus, vitae gravida metus tempor.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <!-- row-container -->
    </div>
    <div class="all-devices">
        <ul>
            <li>

                <div class="middle">
                    <div class="content-center">
                        <a target="_self" class="all-devices-button" routerLink="/devices">See all supported devices</a>
                    </div>
                </div>

            </li>
        </ul>
    </div>
    <!-- row-container -->
</div>