<div class="content">
    <div class="content-header">
        <ul>
            <li>
                <h1>Overview</h1>

            </li>
        </ul>
        <ul>
            <li>
                <p>
                    We are able to provide you the following list of services.
                </p>
            </li>
        </ul>
    </div>

    <div *ngIf="!services" class="middle">
        <p class="middle">No services are available at this point!</p>
    </div>
    <div class="content-repairs">
        <div *ngIf="services">
            <ul>
                <li *ngFor="let service of services">
                    <app-service-tile [service]="service"></app-service-tile>
                </li>
            </ul>
        </div>
        <!-- row-container -->
    </div>
</div>